
/* for larger screens */
@media (min-width:2160px){
    .hero-details{
        margin-top: 15rem;
    }
}
/* for tablets */
/* for tablets */
@media (min-width: 1020px) and (max-width:1281px){
    .welcome{
        margin-top: 2rem;
       
    }
    .welcome h2{
        font-size: 3em;
    }
    .welcome h5{
        font-size: 2.5em;
    }
    .footer-section{
        bottom: 2%;
        width: 90%;
        left: 2%;
        right: 2%;
    }
}
@media (min-width: 667px) and (max-width:1020px){

    .header{
        display: none;
    }
    .welcome{
        margin-top: 4rem;
    }
    .welcome h2{
        line-height:5rem ;
        margin-top: 3.5rem;
    }
    .welcome span{
        display: block;
        max-width: 100%;
        margin: 0 auto;
        font-size:4rem;
        letter-spacing: 2px;
        
    }
    .footer-section{
       margin-top: 4rem;
       flex-direction: column;
        align-items: center;
        position: static;
    }
  
    .footer-links{
        margin-top: 1.5rem;
        padding-bottom: 1.3rem;
    }
    .footer-links a{
        color: #FFFFFF;
        font-size: 3rem;
        padding-left: 2rem;
      }
      .copy{
        width: 45%;
        margin: 0 auto;
        text-align: center;
        font-size: 25px;
        line-height: 2.2rem;
        padding-bottom: 23rem;
      }
      .order-1{
        order: 1;
    }
    .order-2{
        order: 2;
    }
      
}
/* For smartphones */

@media (max-width:667px){
 
    .header{
        text-align: center;
        display: none;
    }
    .welcome h2{
        line-height:5rem ;
        font-size: 22px;
        
    }
    .hero-details{
        margin: 0;
    }
    .welcome span{
        display: block;
        max-width: 100%;
        margin: 0 auto;
        font-size: 30px;
        letter-spacing: 2px;
    }
    .welcome h5{
        font-size: 25px;
    }
    .button{
        padding: 1rem;
    }
    .button-area{
        margin: 1rem 0 0 0;
    }
    .countdown{
        gap: 0.3rem;
        padding: 0 0.8rem;
    }
    .button-area h3{
        font-size: 25px;
    }
    .countdown .time{
        padding: 1rem;
        font-size: 25px;
        
    }
    .footer-section{
        flex-direction: column;
        align-items: center;
        bottom: 0;
        left: 1%;
        right: 3%;
    }
    .copy{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 2rem;
    }
    .footer-links{
        margin-top: 1.5rem;
        margin-bottom: 1.1rem;
    }
    .order-1{
        order: 1;
    }
    .order-2{
        order: 2;
    }
}
   
@media (max-width:450px){
    .header{
        display:none;
       
    }
    body{
       background-size: auto;
       
    }
    .welcome h2{
        line-height:4.5rem ;
        font-size: 25px;
    }
    .countdown .time{
        padding: .8rem;
        font-size: 25px;
    
      
    }
    .footer-section{
        flex-direction: column;
        align-items: center;
    }
    .copy{
        width: 65%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-links{
        margin-top: 1.5rem;
    }
    .order-1{
        order: 1;
    }
    .order-2{
        order: 2;
    }
}

@media (max-width:300px){
    .header{
        display: none;
    }
    .countdown{
        gap: 0.3rem;
        padding: 0 0.8rem;
    }
    .countdown .time{
        padding: .4rem;
        font-size: 18px; 
    }
    .countdown .time span {
        font-size: 14px;
        color: #c3cbce;
        letter-spacing: 1px;
        }
    .welcome h2{
        line-height:4.5rem ;
        font-size: 20px;
    }
    .welcome h5{
        font-size: 20px;
    }
    .welcome span{
        display: block;
        max-width: 90%;
        margin: 0 auto;
        font-size: 20px; 
    }
    .button-area .button{
        font-size: 16px;
    }
    .order-1{
        order: 1;
    }
    .order-2{
        order: 2;
    }
    .footer-section{
        flex-direction: column;
        align-items: center;
    }
    .copy{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-links{
        margin-top: 0.8rem;
    }
}
